<div class="row">
    <div class="col-md-12 text-center">
    <p>
        Ingrese con su cuenta
    </p>
        <button type="button" class="btn btn-outline-primary" 
                (click)="ingresar()">
            
            Google
            </button>

    </div> 


</div>

